.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.card{
    margin-top: 20px;
    margin-bottom: 30px;
}

.load{
    display: none;
}

.form-control{
    border: 3px solid grey i !important;
}